#modal{
  .modal-content-wrap {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
    max-width: 90vw;
    max-height: 80vh;
    background-color: #fff;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -55%);
  }
  .modal-overlay {
    background-color: rgba(#000000,0.5);
    position: fixed;
    left: 0;
    top:0;
    min-width: 100vw;
    min-height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .modal-close{
    position: absolute;
    right:15px;
    top:15px;
    width: 16px;
    height: 16px;
    background: url(../img/ico-close-gray.png) center center no-repeat;
    background-size: 16px auto;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
  &.active{
    .modal-content-wrap {
      visibility: visible;
      opacity: 1;
      z-index: 999;
    }
    .modal-overlay {
      visibility: visible;
      opacity: 1;
      z-index: 999;
    }
  }
  .modal-content{
    background-color: #fff;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    > *{
      width: 1000px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
